body {
  @apply bg-gray-700;
}

.app {
  @apply bg-gray-800;
}

.header {
  @apply bg-gray-800;
  @apply w-full h-full py-2;
  @apply sticky top-0;
}

.container {
  @apply bg-gray-800;
  @apply min-w-min p-5;
  @apply rounded-lg;
}

.row {
  @apply flex flex-row;
}

.column {
  @apply flex flex-col;
}

.wrap {
  @apply flex flex-wrap;
}

.divider {
  @apply w-full h-0.5;
  @apply my-5;
  @apply bg-gray-200;
}

.btn {
}

.btn:hover {
  @apply cursor-pointer;
}

.btn-default {
  @apply btn;
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply btn-default;
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-settings {
  @apply btn;
  @apply w-12 h-12;
  @apply p-2;
  @apply border-2 rounded-full;
  @apply text-white;
}

.btn-profile {
  @apply btn;
  @apply w-12 h-12;
  @apply p-2;
  @apply border-2 rounded-full;
  @apply text-white;
}

.settings {
  @apply text-base text-black;
  @apply row whitespace-nowrap overflow-hidden;
  @apply pb-1 px-1 max-w-max;
  @apply mx-5;
  @apply rounded;
  @apply bg-gray-200;
}

.dropdown-list {
  @apply absolute z-40 column bg-gray-300;
}

.dropdown-list-item {
  @apply text-sm;
  @apply cursor-pointer;
  @apply row;
}

.search-select {
  @apply text-base font-sans font-semibold tracking-normal text-gray-900;
  @apply row max-w-max whitespace-nowrap overflow-hidden;
  @apply px-2 py-1 mt-1;
  @apply rounded-xl;
  @apply bg-gray-100;
  @apply border border-gray-700;
}

.search-dropdown-list {
  @apply dropdown-list mt-7;
  @apply max-h-72 max-w-xs truncate;
}

.search-dropdown-list-item {
  @apply dropdown-list-item text-left;
  @apply text-lg text-gray-200 border border-gray-400 rounded-2xl;
  @apply px-3 m-1 h-8;
}

.modal {
  @apply z-50;
  @apply fixed bg-gray-900 w-2/3 h-full top-1/2 left-1/2;
  @apply transform -translate-x-1/2 -translate-y-1/2;
  @apply font-sans;
  @apply rounded;
  @apply p-3;
  /* 
  & fieldset {
    @apply p-1;
    @apply w-full;

    & legend {
      @apply w-1/6;
      @apply font-bold text-lg text-right float-left px-5;
    }

    & > div {
      @apply flex flex-wrap gap-2;
      @apply min-w-min;
    }
  } */
}

.main {
  @apply row;
  @apply w-full h-full min-w-min;
  @apply justify-center;
  @apply bg-gray-700;
}

.main-input {
  @apply column;
  @apply ml-5;
  @apply h-full;
  @apply bg-gray-700;
}

.correct-words {
  @apply container;
  @apply column;
  @apply w-80;
  @apply mt-5;
}

.tile {
  background-image: url("images/tile.jpg");
  @apply bg-no-repeat;
  @apply w-20 h-20;
  @apply text-center font-bold text-5xl pt-3.5 text-black;
}

.tile-dropper {
  background-image: url("images/metal-funnel.png");
  @apply bg-no-repeat;
  @apply w-80 h-72;
}

.question-mark {
  background-image: url("images/questionmark.png");
  @apply bg-no-repeat;
  @apply w-20 h-20;
}

.info-demo {
  background-image: url("images/infodemo.png");
  @apply bg-no-repeat;
  @apply w-full h-24;
  @apply m-3;
}

/* Dice */
.dice {
  @apply w-24 h-24;
  @apply justify-center;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: #f25f5c;
  box-shadow: inset 2px 2px #d90429;
}

.side {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}

.side:nth-child(1) {
  transform: translateZ(3.1em);
}

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(3.1em);
}

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.1em);
}

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(3.1em);
}

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(3.1em);
}

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(3.1em);
}

.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg);
}

.show-6 {
  transform: rotateX(-900deg) rotateZ(1080deg);
}

.show-3 {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}

.show-4 {
  transform: rotateY(810deg) rotateZ(720deg);
}

.show-5 {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}

.show-2 {
  transform: rotateX(450deg) rotateZ(-720deg);
}

.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
  top: 20%;
  left: 20%;
}

.four-3,
.five-3,
.six-4 {
  top: 20%;
  left: 80%;
}

.one-1,
.three-2,
.five-5 {
  top: 50%;
  left: 50%;
}

.four-2,
.five-2,
.six-3 {
  top: 80%;
  left: 20%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
  top: 80%;
  left: 80%;
}

.six-2 {
  top: 50%;
  left: 20%;
}

.six-5 {
  top: 50%;
  left: 80%;
}

/* Bar Chart */
.graph-wrapper {
  @apply my-2 pt-2 pb-8;
  @apply border border-gray-600 rounded-md;
  @apply text-gray-50;
}

.graph-title {
  @apply text-center font-bold text-xl;
  @apply pb-2;
}

.graph {
  max-width: 1000px;
  height: 400px;
  @apply ml-auto row relative;
}

.line {
  @apply absolute top-0 bottom-0 left-1 -z-10;
  @apply w-0.5 bg-gray-300;
}

.bar-text-content {
  @apply min-w-max;
  @apply h-full;
  width: 12%;
}

.bar-text {
  @apply pt-1 px-2;
  @apply text-right min-w-max;
  @apply w-full;
}

.bar-lines-container {
  @apply h-full;
  width: 88%;
  @apply relative -z-20;
  @apply bg-gray-200;
}

.bar {
  @apply bg-indigo-500 z-20;
  @apply border-b border-r border-solid border-black rounded-br-md rounded-tr-md;
}

.bar:last-child {
  @apply border-b-0;
}

.markers {
  width: 88%;
  @apply relative mt-1;
}

.markers > span {
  @apply absolute;
  @apply text-sm;
  transform: translateX(-6px);
}
